@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato&family=Yeseva+One&display=swap');

:root {
  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

button {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li,
input,
div {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.yeseva {
  font-family: 'Yeseva One', serif;
  font-weight: 400;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.kdam {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: 400;
}

.xxl {
  font-size: 3.5em;
}

.extralarge {
  font-size: 2em;
}

.large {
  font-size: 1.5em;
}

.medium {
  font-size: 1.2em;
}

.small {
  font-size: 1em;
}

.black {
  color: #212529;
}

.gray {
  color: #8c8c8c;
}

.navy {
  color: #14323e;
}
.navy-bg {
  background-color: #14607e;
}

.red {
  color: #e64c32;
}

.green {
  color: #41d172;
}

.blue {
  color: #98cee4;
}

.pale {
  color: #c1a97e;
}

.pale-bg {
  background-color: #c1a97e;
}

.white {
  color: white;
}
